spring:
  datasource:
    url: 'jdbc:postgresql://localhost:5432/customers'
    username: postgres
    password: postgres
  jackson:
    default-property-inclusion: NON_EMPTY
    property-naming-strategy: SNAKE_CASE
    serialization.indent-output: true
    serialization.write-dates-as-timestamps: false
    mapper.accept-case-insensitive-enums: true
  jpa:
    hibernate:
      ddl-auto: create-drop

server:
  port: 8081

aws:
  enabled: false
  region: us-east-1
  sns:
    endpoint: http://localhost:4566
    topic:
      customer-indexer: arn:aws:sns:us-east-1:000000000000:customer-indexer
  sqs:
    endpoint: http://localhost:4566
    queue:
      customer-indexer: http://localhost:4566/000000000000/customer-indexer

management:
  endpoints:
    web:
      base-path: /

cloud:
  aws:
    region:
      static: us-east-1
    stack:
      auto: false
